$small_desktop: 1240px;
$tablet: 1023px;
$mobile: 767px;

// Responsive breakpoints
@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

/*
Scales a font proportionally to the screen size, from -> to
All parameters are pixels, but don't add the 'px' units!

It adds mediaqueries to fix font-size upper and lower limit

@include autoscale-font (
   //  320 screen width -> font size 24px
  320,  24,
  // 1600 screen width -> font size 64px
  1600, 64
);

Outputs something like:
font-size: 64px;
font-size: calc( 24px + (64 - 24) * ( ( 100vw - 320px ) / ( 1600 - 320 ) ) );
@media only screen and (min-width: 1600px)
  .title {
    font-size: 64px;
  }
}

*/
@mixin autoscale-font (
  $list_of_breakpoints_and_sizes
) {

  @each $bpas in $list_of_breakpoints_and_sizes {

    $bp: nth($bpas, 1); // Breakpoint
    $sz: nth($bpas, 2); // Size

    // First rule
    // Default size on desktop
    @if $bpas == nth($list_of_breakpoints_and_sizes, 1) {
      & {
        font-size: #{$sz}px;
        color: cyan;
      }
    }

    // Not the first, neither last
    @if $bpas != nth($list_of_breakpoints_and_sizes, 1) and $bpas != nth($list_of_breakpoints_and_sizes, length($list_of_breakpoints_and_sizes)) {
      @media only screen and (max-width: $bp) {
        & {
          font-size: #{$sz}px;
          color: red;
        }
      }
    }

    // Is last item of list
    @if $bpas == nth($list_of_breakpoints_and_sizes, length($list_of_breakpoints_and_sizes)) {
      @media only screen and (max-width: $bp) {
        & {
          font-size: #{$sz}px;
          color: blue;
        }
      }
    } // @if

  }

}
