body {
  padding: 48px;
  background-color: #f0f0f0;
}

#main-container {
  max-width: 800px;
}

h1.title {
  margin: 0;
  @include responsive-font (
    (
      // Breakpoint, font-size, line-height
      ( $small_desktop, 64, 72 ),
      ( $tablet,        32, 80 ),
      ( $mobile,        24, 32 ),
      // Down limit to fix minimun size
      ( $small_mobile ) // 360
    ),
    true // debug
  );
}
